# don't need the ** to make git work, but intellij will only ignore the
# directories at the root if you just do 'dir/'
**/.gradle/
**/out
**/bin
**/build/
**/generated/
**/node_modules/
**/.idea

*.iml

.idea
*.iws
*.ipr

# mac folder metadata
.DS_Store

*.rdb

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

